/* css styling for navigation bar*/

body {
    font-family: "Lato", sans-serif;
  }
  
  .navigator {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .navigator a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(215, 206, 219);
    display: block;
    transition: 0.3s;
  }
  
  .navigator a:hover {
    color: rgb(173, 161, 179);
  }
  
  .navigator .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  @media screen and (max-height: 450px) {
    .navigator {padding-top: 15px;}
    .navigator a {font-size: 18px;}
  }