{% block content %}
<!DOCTYPE html>
<html lang="en-us">
<head>
  <title> About the Authors  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <!-- social profiles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script  src="../../js/js.js"></script>
  <!--Pie charts -->
  <script  src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  
 </head>

<body>
            
              <div class="pagination">
                <a href="{{ url_for('index') }}">Home</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}" >Register</a>
                {% else%}
                <a href = "{{ url_for('logout') }}"> Logout </a>
                {% endif %}
                <a class="active">About</a>
                
            </div>
    
            <h1>Dilip Kotha & Sonali Suhane</h1>
            <p>We put our heart and soul into this. pls give us HD. </p>
            
            <div class="row">
              <div class="column">
                <img src="{{ url_for('static',filename='images/p1.jpg') }}" alt="Dilip Kotha" style="width:100%">
              </div>
            <div class="content">
              this is a page <br>
              <a href="{{ url_for('dilip') }}">DK</a>
              <a href="{{ url_for('sonali') }}">SS</a>
            </div>
              <div class="column1">
                <img src="{{ url_for('static',filename='images/sonali.jpg') }}" alt="Sonali Suhane" style="width:100%">
              </div>
            </div>

    <footer class="foo">
        &copy; 2020 DK & SS,All rights reserved;
    </footer>

      

</div>
</body>
</html>
{% endblock %}