<!DOCTYPE html>
<html lang="en-us">
<head>
  <title> About the Authors  </title>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <!-- social profiles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script  src="../../js/js.js"></script>
  <!--Pie charts -->
  <script  src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  
 </head>

<body>
            
            <div class="pagination">
                <a href="index.html">Home</a>
                <a href="css.html">Login</a>
                <a href="javascript.html" >Register</a>
                <a class="active">About</a>
            </div>
    
            <h1>Dilip Kotha & Sonali Suhane</h1>
            <p>We put our heart and soul into this. pls give us HD. </p>
            
            <div class="row">
              <div class="column">
                <img src="../../images/p1.jpg" alt="Dilip Kotha" style="width:100%">
              </div>
            <div class="content">
              this is a page <br>
              <a href="dilip.html">DK</a>
              <a href="sonali.html">SS</a>
            </div>
              <div class="column1">
                <img src="../../images/sonali.jpg" alt="Sonali Suhane" style="width:100%">
              </div>
            </div>

    <footer class="foo">
        &copy; 2020 DK & SS,All rights reserved;
    </footer>

      

</div>
</body>
</html>
