<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Dilip Profile</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body>
      
        <img class="img_container_dilip" src="../../images/sign1.gif" alt="adv/">
    
      <p class="para">
        Hello,Im Dilip.
      </p>
      
        <img class="img_container1_dilip" src="../../images/p1.jpg" alt="adv/">
     
      
      <p class="pa">
        I am a post graduate Data Science student at UWA!<br>
        I have made and done some things that will probably haunt me in the future!<br>
    </p>
    
        <!-- here we are linking the icons to their approproate destinations-->
        <a href="https://www.facebook.com/diliprdy26" class="fa fa-facebook"></a>
        
        <a href="https://www.linkedin.com/in/dilip-kumar-reddy-kotha-94784b119/" class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com/dilipkumar_24/" class="fa fa-instagram"></a>
    
      
    <br>
    
      <!-- global navogation bar-->
    <p class="footer">
      <br>
      &copy; 2020 Dilip Kotha,All rights reserved;
    </p>
    <footer>
      <div class="pagination">
          <a href="index.html">Home</a>
          <a href="..">Login</a>
          <a href="..">Register</a>
          <a href="about.html">About</a>
      </div>
  </footer>
    </body>
</html>

  