{% extends "base.html" %}

{% block content %}

    <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet">


    <!-- bar at the top of body-->
    <div class="page-bar"></div>
    <!-- body content -->
    <div class="page-div">
        <h1>Hi, {{ current_user.username }}!</h1>

        <!-- Display the player's result if it exists -->
        {%if score%}
            <h3>the player's result: </br>
                You got a score of {{score}} out of {{sum}} possible marks ({{percentage}}%) for the short answers
            </h3>
        {% else %}
            <h3>Your results: </br>
                you have not done the quiz yet!
            </h3>
        {% endif %}

    </div>

{% endblock %}