{% extends "base.html" %}

{% block content %}
<html lang="en-us">
<head>
  <title> intro page  </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
 

</head>

<body>

        <div class="img3">
                    <a href="{{ url_for('index') }}">Home</a>
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                    {% else %}
                    <a href = "{{ url_for('logout') }}"> Logout </a>
                    {% endif %}

            <div class="pagination">
                
                <a href="#">&laquo;</a>
                <a href="HTML.html">1</a>
                <a href="css.html">2</a>
                <a class="active">3</a>
                <a href="CV.html">4</a>
                <a href="#">&raquo;</a>
            </div>
    </div>
   
</body>



</html>
{% endblock %}